<h1><%= @user_name %></h1>

<h2><%= @user_email %></h2>

<h3>Interests:</h3>

<ul>
 <% @user_interests.each do |interest| %>
   <li>
    <%= interest.capitalize %>
   </li>
 <% end %>
</ul>

<h4>Other Users</h4>

<ul>
  <% @users.keys.each do |user| %>
    <% unless user == params[:name].to_sym %>
      <li>
        <a href="/users/<%= "#{user}" %>">
          <%= stringify(user) %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<p>
  <a href="/">Home</a>
</p>
